.vote-counter-old {
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: #e2f1ec;
  color: black;
  padding: 0px 15px;
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  span {
    display: block;
  }
  .votes {
    font-size: 0.7em;
  }
}

.vote-counter-new {
  text-align: center;
  .new-count {
    p {
      background-color: #e2f1ec;
      margin-top: -10px;
      margin-bottom: -10px;
      font-size: 40px;
      color: #8c8c8c;
      font-weight: 400;
      border-radius: 5px;
    }
  }
  .glyphicon {
    background: rgba(205, 205, 205, 0.32);
    font-size: 2em;
    padding: 5px;
    border-radius: 5px;
  }
}
