.ask-que {
    background-color: #f3f3f3;

    .heading {
        font-family: Colfax;
        font-size: 30px;
        margin-top: 32px;
    }

    .ask-form {
        background-color: white;
        margin-top: 51px;
    }

    .subheadings {
        margin-top: 34px;
        margin-left: 41px;
    }

    .post-que-btn {
        margin-top: 34px;
        width: 274px;
        height: 50px;
        margin-left: 41px;
    }

    .post-que-txt {
        font-size: 18px;
        font-family: Colfax
    }

    .notify {
        font-size: 18px;
        font-family: Colfax;
    }
  button {
    margin-left: 40px;
    margin-top: 20px;
    width: 170px;
    margin-bottom: 150px;
  }
}
